.photo-grid__delete-button {
  background: url(../../../images/Trash.png);
  background-repeat:no-repeat;
  background-position: center;
  width: 19px;
  height: 18px;
  object-fit: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.photo-grid__delete-button:hover {
  opacity: 0.6;
}