.header {
  max-width: 880px;
  min-height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 45px auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .header {
  margin-top: 28px;
  }
}