.content {
  margin: 0 auto;
  max-width: 880px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .content {
    max-width: 767px;
  }
}

@media screen and (max-width: 540px) {
  .content {
    max-width: 540px;
  }
}