.profile__add-button {
  background: url(../../../images/add-button-m.svg);
  background-repeat:no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  object-fit: cover;
  border: none;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin-right: 0px;
  padding: 0;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .profile__add-button  {
    width: 120px;
  }
}

@media screen and (max-width: 600px) {
  .profile__add-button  {
    width: 100%;
    margin-top: 36px;
    background: url(../../../images/add-button-s.svg);
    background-repeat:no-repeat;
    background-position: center;
  }
}