.popup__close-button {
  position: absolute;
  background: url(../../../images/Close\ Icon.svg);
  background-repeat:no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  right: -32px;
  top: -32px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}