.popup__image {
  object-fit: cover;
  width: 100%;
  max-height: 540px;
}

@media screen and (max-width: 879px) {
  .popup__image {
    max-width: 700px;
  }
}

@media screen and (max-width: 600px) {
  .popup__image {
    max-width: 240px;
  }
}