.photo-grid__like-button {
  background: url(../../../images/heart.svg);
  background-repeat:no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  object-fit: contain;
  padding: 0;
  border: none;
  cursor: pointer;
}

.photo-grid__like-button:hover {
  opacity: 0.5;
}